* {
    margin: 0;
    padding: 0;
    font-family: 'Handjet', cursive;
    box-sizing: border-box;
}

.css-selector {
    background: linear-gradient(270deg, #c7141a, #b40d1a, #f2ece9);
    background-size: 600% 600%;
    animation: background-gradient 10s ease infinite;
}

body {
    background: linear-gradient(270deg, #c7141a, #b40d1a, #f2ece9);
    background-size: 600% 600%;
    animation: background-gradient 10s ease infinite;
}

    @keyframes background-gradient {
    0% { background-position: 18% 0%; }
    50% { background-position: 83% 100%; }
    100% { background-position: 18% 0%; }
}

.mute-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 4px;
    width: 8vh;
    font-weight: bold
}

.unmuted {
    background-color: #9aeabc; 
    color: #222; 
    border: 1px solid #222; 
}

.muted {
    background-color: #ff9393; 
    color: #fff; 
    border: 1px solid #222; 
}


.app {
    background: #f2ece9;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: bold;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #b40d1a;
    color: #fff;
    font-weight: bold;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
    height: 100vh;
    background: linear-gradient(270deg, #c7141a, #b40d1a, #f2ece9);
    background-size: 600% 600%;
    animation: background-gradient 10s ease infinite;
}

    @keyframes background-gradient {
    0% { background-position: 18% 0%; }
    50% { background-position: 83% 100%; }
    100% { background-position: 18% 0%; }
}

.start-screen h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

#how-to-play-btn {
    text-align: center;
    max-width: 70vh;
}

#start-btn {
    text-align: center;
    max-width: 70vh;
}

#timer {
    font-weight: bold;
    color: #c7141a;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px; 
    z-index: 1001; 
}
